# Nestjs specific
/dist
/node_modules
/build
/tmp

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.development
.env.test
.env.production

# temp directory
.temp
.tmp

# Yarn
.yarn
.yarnrc.yml
yarn.lock

# Docker
.devcontainer

# VSCode
.vscode/*
/src/generated/prisma

# Tests
/coverage
/.nyc_output
test-results
test-results/*
test-report.xml
junit.xml
sonar-project.properties
gl-sast-report.json
gl-secret-detection-report.json
semgrep.sarif
.scannerwork
codecov
codecov.*
!codecov.yml
